@using ETB.WebApp.Utilities
@using ETB.Core.Entities
@model ETB.WebApp.Models.DivisionViewModel

@{
    Layout = "~/Views/Shared/_LayoutWithLogin.cshtml";
}

<div class="form-row">
    <div class="col-lg-7">
        <h2>@Subtitle.DivisionList</h2>
    </div>
    <div class="col-lg-5">
        <a asp-action="Index2" asp-controller="Tenders" class="form-control d-inline btn-link">Back to Tender Dashboard</a>
    </div>

</div>
<hr />

<div class="form-row">
    <div class="col-lg-7">
        <div class="form-group row pl-3 pr-2">
            <button class="btn btn-dark" id="btnDelete"><i class="fa fa-times"></i><span class="d-none d-sm-inline-block ml-2">Delete Selected Division</span></button>
            <button id="btnCreate" class="btn btn-primary d-inline ml-2"><i class="fa fa-plus"></i><span class="d-none d-sm-inline-block ml-2">Add New Division</span></button>
        </div>
    </div>
    <div class="col-lg-7">
        <input type="hidden" id="selDivId" />
        <div class="form-inline justify-content-start mr-2 mb-2" style="margin-left:0px;">
            <div class="d-inline pl-2 pb-2">
                <label class="d-inline control-label"><span class="d-inline-block d-sm-none mr-1">Total Recs:</span><span class="d-none d-sm-inline-block mr-1">Total Records:</span></label>
                <label class="d-inline control-label" id="lblTotalRecs"></label>
                <label class="d-inline control-label"> | </label>
            </div>
            <div class="d-inline form-group row pl-3 pr-2">
                <label class="d-inline control-label"><span class="d-none d-sm-inline-block mr-1">Rows to Display:</span></label>
                <select id="selNoOfRows" class="d-inline form-control dropdown" asp-items="Model.NoOfRows"></select>
            </div>
        </div>
        <div id="jsGrid"></div>
    </div>
    <div class="col-lg-5 mt-5" id="divFreeForm">
        <form id="formDivision">
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label class="control-label" asp-for="DV_Department"></label>
                    <input asp-for="DV_Department" class="form-control" />
                    <span asp-validation-for="DV_Department" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">District</label>
                    <select asp-for="DV_District" class="form-control dropdown" asp-items="Model.Districts">
                        <option selected="selected" value="">-Select-</option>
                    </select>
                    <span asp-validation-for="DV_District" class="text-danger" data-valmsg-for="District" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label">Division</label>
                    <input asp-for="DV_Division" class="form-control" />
                    <span asp-validation-for="DV_Division" class="text-danger" data-valmsg-for="Division" data-valmsg-replace="true"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <input type="button" value="Save" id="btnSave" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
    }
    $(document).ready(function () {
        var selectedRow;
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }
        $("#divFreeForm").hide();
        LoadList();
        function LoadList() {
             $("#jsGrid").jsGrid({
                height: "500px",
                width:"100%",
                loadIndication: true,
                loadIndicationDelay: 5,
                loadShading: true,
                loadMessage: "Please wait, Loading...",
                selecting: true,
                paging: true,
                pageSize: 15,
                rowClass: "rowCss",
                autoload: true,
                controller: {
                    loadData: function () {
                        var d = $.Deferred();
                        $.ajax({
                            url: '@Url.Action("GetDivisions", "Divisions")',
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                        }).done(function (result) {
                            $('#lblTotalRecs').text(result.tcount);
                            d.resolve(result.datas);
                        });
                        return d.promise();
                    }
                },
                 fields: [{ name: "id", title: "Id", width: 30, visible: true },
                     { name: "deptartment", title: "Dept.", visible: true, width: 150 },
                    { name: "districtName", title: "District", visible: true, width: 150 },
                    { name: "divisionName", title: "Division", visible: true, width: 150 },
                 ],
                  rowClick: function (args) {
                    var id = args.item.id;
                      $('#selDivId').val(id);
                    rowHighlight(args.item)
                }
            });
        }

        function rowHighlight(item) {
            if (selectedRow) { selectedRow.children('.jsgrid-cell').css('background-color', ''); }
            var $row = $("#jsGrid").jsGrid("rowByItem", item);
            $row.children('.jsgrid-cell').css('background-color', '#F7B64B');
            selectedRow = $row;
        }

        $('#selNoOfRows').on('change', function (event) {
            $("#jsGrid").jsGrid("option", "pageSize", $(this).val());
        });


        $('#btnCreate').click(function () {
            clear();
        });

        function clear() {
            $("#divFreeForm").show();
            $('#District').focus();
            $('#DV_Department').val("");
            $('#DV_District').val("");
            $('#DV_Division').val("");
        }

        $("#DV_Department").autocomplete({
            maxShowItems: 5,
            source: function (request, response) {
                console.log(request.term);
                var pref = {
                    prefix: `${request.term}`,
                    param1: "",
                    param2: ""
                };
                $.ajax({
                    url: '@Url.Action("GetAutoCompDept", "Departments")',
                    data: pref,
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        console.log(data);
                        response($.map(data, function (item) {
                            console.log(item);
                            return item;
                        }))
                    },
                    error: function (response) {
                        console.log(response.responseText);
                    },
                    failure: function (response) {
                        console.log(response.responseText);
                    }
                });
            },
            select: function (e, i) {
                console.log(i.item.val);
            },
            minLength: 1
        });

        $('#btnDelete').click(function () {
            if ($('#selDivId').val() == "") {
                alert("Please select a division from division grid.");
                return false;
            }
            if (confirm(`Are you sure you want to Delete Division Id [${$('#selDivId').val()}]?`) == true) {
                if (confirm("Are you sure again?") == true) {

                    $.ajax({
                        url: '@Url.Action("DeleteDivision", "Divisions")',
                        credentials: 'include',
                        dataType: "json",
                        type: 'POST',
                        data: { __RequestVerificationToken: gettoken(), id: $('#selDivId').val() },
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    }).done(function (result) {
                        LoadList();
                    });
                }
            }
        });

        $('#btnSave').click(function () {
            if (!$('#formDivision').valid()) {
                return false;
            }
            var data1 = {
                Id: 0,
                Departments: {},
                Districts: {},
                DV_Department: $('#DV_Department').val(),
                DV_District: $('#DV_District').val(),
                DV_Division: $('#DV_Division').val()
            };
            $.ajax({
                url: '@Url.Action("CreateNewDivision", "Divisions")',
                data: data1,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.status == "Error") {
                        console.log(result.error);
                    }
                    else {
                        console.log(result.status);
                    }
                    LoadList();
                    clear();
                },
                error: function (errorResult) {
                    console.log("error", errorResult.error);
                }
            });
        });
    });
</script>


