@using ETB.WebApp.Utilities
@using ETB.Core.Entities
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@model ETB.WebApp.Models.Index2ViewModel
@{
    Layout = "~/Views/Shared/_LayoutWithLogin.cshtml";
}
<h2>@Subtitle.TenderDashBoard</h2>
<hr style="margin-bottom:0px;" />
<div class="container-fluid" style="padding-left:0px;padding-right:0px;">
    @if (@HttpContextAccessor.HttpContext.Session.GetString("IsDetailU") == ETB.Core.Entities.IsRecordUpdated.NO.ToString())
    {
        <div class="row">
            <div class="form-control bg-danger ml-2 mr-2">
                <span class="text-white"> Please update your profile !</span>
            </div>
        </div>
    }
    <div class="row">
        @{
            var IsSubscriber = true;
            var role = @HttpContextAccessor.HttpContext.Session.GetString("Role");
            if (role == UserRole.Admin.ToString())
            {
                IsSubscriber = false;
                <div class="navbar-nav col-lg-12 d-flex" style="border:0px solid gray;">
                    @await Html.PartialAsync("TenderAdminBand")
                </div>
            }
            if (role == UserRole.Operator.ToString())
            {
                IsSubscriber = false;
                <div class="navbar-nav col-lg-12 d-flex  justify-content-between" style="border:0px solid gray">
                    @await Html.PartialAsync("TenderOperatorBand")
                </div>
            }
        }
    </div>
    <div class="row">
        <div class="col-lg-12 navbar-expand-sm navbar-toggleable-sm" style="padding-left:0px; ">
            <nav class="navbar navbar-light bg-light justify-content-end" style="padding:0px;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row" id="navbarToggleExternalContent">
                <div class="col-lg-12 bg-light border-info border m-2">
                    <div class="row mt-2">
                        <input type="hidden" id="hidDisfilterVal" />
                        <div class="form-group col-lg-2 focus">
                            <label class="control-label">Pub Or Live</label>
                            <select id="selPub" class="form-control dropdown" asp-items="Html.GetEnumSelectList<ETB.Core.Entities.PublishOrLive>()">
                                <option selected="selected" value="">-Select-</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">NIT</label>
                            <select id="selNit" class="form-control dropdown" asp-items="Model.Nits" asp->
                                <option selected="selected" value="">-Select-</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">Division</label>
                            <select id="selDiv" class="form-control dropdown" asp-items="Model.Divisions">
                                <option selected="selected" value="">-Select-</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">Oganisation</label>
                            <select id="selOrg" class="form-control dropdown" asp-items="Model.Oganisations">
                                <option selected="selected" value="">-Select-</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">Department</label>
                            <select id="selDept" class="form-control dropdown" asp-items="Model.Departments">
                                <option selected="selected" value="">-Select-</option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2">
                            <label class="control-label">District</label>

                            <div class="dropdown">
                                <button class="form-control btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    -Select District-
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul id="districtList" class="list-group"></ul>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row justify-content-between  mb-2" style="margin-top:0px;">
                        <div class="form-inline justify-content-start mr-2" style="margin-left:0px;">
                            <div class="d-inline pl-2 pb-2">
                                <label class="d-inline control-label"><span class="d-inline-block d-sm-none mr-1">T. Recs:</span><span class="d-none d-sm-inline-block mr-1">Total Records:</span></label>
                                <label class="d-inline control-label" id="lblTotalRecs"></label>
                                <label class="d-inline control-label"> | </label>
                            </div>
                            <div class="d-inline pl-2 pr-2 pb-2">
                                <label class="d-inline control-label"><span class="d-inline-block d-sm-none mr-1">T. Filt. Recs:</span><span class="d-none d-sm-inline-block mr-1">Total Filtered Records:</span></label>
                                <label class="d-inline control-label" id="lblTotalCounts"></label>
                                <label class="d-inline control-label"> | </label>
                            </div>
                            <div class="d-inline form-group row pl-3 pr-2">
                                <label class="d-inline control-label"><span class="d-none d-sm-inline-block mr-1">Rows to Display:</span></label>
                                <select id="selNoOfRows" class="d-inline form-control dropdown" asp-items="Model.NoOfRows"></select>
                            </div>
                        </div>

                        <div class="form-inline">
                            <button class="btn btn-info mr-2" id="btnSevendays" title="Expires in next 7 days"><i class="fa fa-filter"></i><span class="d-none d-sm-inline-block ml-2">Expiring in 7 days</span></button>
                            <button class="btn btn-info mr-2" id="btnArchive" title="Archived Tender"><i class="fa fa-filter"></i><span class="d-none d-sm-inline-block ml-2">Archived Tender</span></button>

                            <div class="row btn-group btn-group-toggle mr-2" style="margin-left:0px;" data-toggle="buttons" id="dvFilterOptions">
                                <label class="btn btn-info active">
                                    <input type="radio" name="options" id="optALL" title="All" autocomplete="off" checked>All
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="optTen" title="Tender Only" autocomplete="off">Ten
                                </label>
                                <label class="btn btn-info">
                                    <input type="radio" name="options" id="optCor" title="Corrigendum Only" autocomplete="off">Cor.
                                </label>
                            </div>


                            <button class="btn btn-info mr-2" id="btnfilter" title="Filter" value="Filter"><i class="fa fa-filter"></i><span class="d-none d-sm-inline-block ml-2">Filter</span></button>
                            <button class="btn btn-secondary mr-2" id="btnClear" title="Clear" value="Filter"><i class="fa fa-sync"></i><span class="d-none d-sm-inline-block ml-2">Clear</span></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between">
            <input type="hidden" id="SelTenderId" class="form-control" />
            <input id="hidIdAdmin" type="hidden" value="@IsSubscriber" />
            <div class="navbar-nav col-md-12 col-sm-12" style="padding-right:0px; border:0px solid gray;background-color:none">
                <div style="overflow:auto;" id="jsGrid"></div>
            </div>
        </div>
    </div>
</div>
<style>
    li {
        cursor: pointer
    }

    .show-eclipse {
        white-space: nowrap;
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
    }
</style>
<script type="text/javascript">

    $(document).ready(function () {
        var selectedRow;
        $("#jsGrid").jsGrid("option", "noDataContent", "");
        LoadTenders();
        LoadDistWiseStatPanel();
        function LoadDistWiseStatPanel() {
            $.ajax({
                url: '@Url.Action("GetDistrictWiseCount", "Tenders")',
                type: 'get',
                async: true,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result.status == "Error") {
                        console.log(result.error);
                    }
                    else {
                        console.log(result.status);
                    }
                    LoadData(result.datas);
                },
                error: function (errorResult) {
                    console.log("error", errorResult.error);
                }
            });
        }

        function LoadData(data) {
            $.each(data, function (index, value) {
                $("#districtList").append(`<li class='list-group-item'><a id='lstDist_${index}'>${value.district} (${value.tenderCount})</a></li>`);
            });
        }
        $('#selNoOfRows').on('change', function (event) {
            $("#jsGrid").jsGrid("option", "pageSize", $(this).val());
        });



        function LoadTenders() {
            var filter = getFilterObj();
            LoadTender(filter);
        }

        function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }

        $('#districtList').on('click', '.list-group-item', function (event) {
            $('#hidDisfilterVal').val($.trim(event.target.innerText.split('(')[0]));
            var filter = getFilterObj();
            LoadTender(filter);
        });

        $('#btnfilter').click(function () {
            var filter = getFilterObj();
            LoadTender(filter);
        });

        //perform other check filter
        $('#btnSevendays').click(function() {
            var filter = {
                PublishOrLive: "",
                District: "",
                NIT: "",
                Division: "",
                Organisation: "",
                Department: "",
                TendCor: "",
                Archive: "N",
                ExpInSevenDays: "Y"
            };
            LoadTender(filter);
        });

        //perform other check filter
        $('#btnArchive').click(function () {
            var filter = {
                PublishOrLive: "",
                District: "",
                NIT: "",
                Division: "",
                Organisation: "",
                Department: "",
                TendCor: "",
                Archive: "Y",
                ExpInSevenDays: ""
            };
            LoadTender(filter);
        });

        $("#dvFilterOptions input[type='radio']").change(function () {

            var selection = $(this).val();
            var filter = getFilterObj();
            if (selection == "on") {
                if ($(this)[0].id == "optALL") {
                    filter.TendCor = "";
                }
                else if ($(this)[0].id == "optTen") {
                    filter.TendCor = "T";
                }
                else if ($(this)[0].id == "optCor") {
                    filter.TendCor = "C";
                }
                LoadTender(filter);
            }

        });

        $('#btnClear').click(function () {
            $('#selPub').val("");
            $('#hidDisfilterVal').val(""),
            $('#selNit').val("");
            $('#selDiv').val("");
            $('#selOrg').val("");
            $('#selDept').val("");
            $('#optALL').val("on");
            var filter = getFilterObj();
            LoadTender(filter);
        });

        function getFilterObj() {
            return {
                PublishOrLive: $('#selPub').val(),
                District: $('#hidDisfilterVal').val(),
                NIT: $('#selNit').val(),
                Division: $('#selDiv').val(),
                Organisation: $('#selOrg').val(),
                Department: $('#selDept').val(),
                TendCor: "",
                Archive: "N",
                ExpInSevenDays: ""
            };
        }
        function getFileFaClass(file) {
            var extension = file.substr((file.lastIndexOf('.') + 1));
            switch (extension) {
                case 'doc', 'docx':
                    return "fa fa-file-word";
                    break;
                case 'pdf':
                    return "fa fa-file-pdf";
                    break;
                default:
                    return "fa fa-file-alt";
                    break;
            }
        };

        function LoadTender(filter1) {
            console.log('winwid', $(window).width);
            var pubOrl = JSON.parse('@Html.Raw(Json.Serialize(Html.GetEnumSelectList<PublishOrLive>()))');
            var tmpLlrtArr = [];
            $.each(pubOrl, function (key, value) {
                var tmpLlrtObj = {};
                tmpLlrtObj.text = value.text;
                tmpLlrtObj.value = parseInt(value.value);

                tmpLlrtArr.push(tmpLlrtObj);
            });
            var dateField = function (config) {
                jsGrid.Field.call(this, config);
            };

            var numField = function (config) {
                jsGrid.Field.call(this, config);
            };

            numField.prototype = new jsGrid.Field({
                itemTemplate: function (value) {
                    var val1 = value.toFixed(2);
                    return addCommas(val1);
                }
            });

            dateField.prototype = new jsGrid.Field({
                sorter: function (date1, date2) {
                    return new Date(date1) - new Date(date2);
                },

                itemTemplate: function (value) {
                    //return getDate(value);
                    return moment(value).format("YYYY-MM-DD hh:mm");
                }
            });

            jsGrid.fields.ClosingDate = dateField;
            jsGrid.fields.ECFormat = numField;
            jsGrid.fields.emdFormat = numField;
            jsGrid.fields.BOQFormat = numField;

            $("#jsGrid").jsGrid({
                height: "500px",
                width:"100%",
                loadIndication: true,
                loadIndicationDelay: 5,
                loadShading: true,
                loadMessage: "Please wait, Loading...",
                noDataContent : "",
                selecting: true,
                paging: true,
                filtering: false,
                pageSize: 15,
                autoload: true,
                rowClass: function (item, itemindex) { return "bg-light"; },
                controller: {
                    loadData: function (filter) {
                        var d = $.Deferred();
                        $.ajax({
                            url: '@Url.Action("GetTenderData", "Tenders")',
                            credentials: 'include',
                            data: filter1,
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                        }).done(function (result) {
                            console.log(result.datas);
                            d.resolve(result.datas);
                            //console.log(result.tcount);
                            //console.log(result.rcount);
                            $('#lblTotalRecs').text(result.tcount);
                            $('#lblTotalCounts').text(result.rcount);
                            }).fail(function (error) {
                                console.log(error);
                            });
                        return d.promise();
                    }
                },
                fields: [{ name: "id", title: "Id", width: "20", visible: true },
                    {
                        type: "control",
                        modeSwitchButton: false,
                        editButton: false,
                        width: 25,
                        align: "center",
                        itemTemplate: function (index, value) {
                            var url = '@Url.Action("View", "Tenders")' + `/${value.id}`
                            return $("<a>").attr("class", "fa fa-eye").attr("data-toggle", "tooltip").attr("title", `Click to view tender [${value.id}]`).attr("alt", "View").attr("href", url);
                        },
                        headerTemplate: function (index, value) {
                            return "<span class='d-block d-sm-none'>V</span><span class='d-none d-sm-block'>View</span>";
                        }
                    },
                    {
                        type: "control",
                        modeSwitchButton: false,
                        editButton: false,
                        width: 25,
                        align: "center",
                        visible: !$('#hidIdAdmin').val(),
                        itemTemplate: function (index, value) {
                            var url = '@Url.Action("Create", "Tenders")' + `?refid=${value.id}`
                            return $("<a>").attr("class", "fa fa-clone").attr("data-toggle", "tooltip").attr("title", `Duplicate Tender for NIT [${value.nit}]`).attr("alt", "Duplicate").attr("href", url);
                        },
                        headerTemplate: function (index, value) {
                            return "<span class='d-block d-sm-none'>D</span><span class='d-none d-sm-block'>Dupl.</span>";
                        }
                    },
                    {
                        type: "control",
                        modeSwitchButton: false,
                        editButton: false,
                        width: 25,
                        align: "center",
                        visible: !$('#hidIdAdmin').val(),
                        itemTemplate: function (index, value) {
                            var url = '@Url.Action("Edit", "Tenders")' + `/${value.id}`
                            return $("<a>").attr("class", "fa fa-edit").attr("data-toggle", "tooltip").attr("title", `Edit Tender Id [${value.id}]`).attr("alt", "Edit").attr("href", url);
                        },
                        headerTemplate: function (index, value) {
                            return "<span class='d-block d-sm-none'>E</span><span class='d-none d-sm-block'>Edit</span>";
                        }
                    },
                    {
                        type: "control",
                        modeSwitchButton: false,
                        editButton: false,
                        width: 25,
                        align: "center",
                        visible: !$('#hidIdAdmin').val(),
                        itemTemplate: function (index, value) {
                            var url = '@Url.Action("Corr", "Tenders")' + `/${value.id}`
                            return $("<a>").attr("class", "fa fa-copy").attr("href", url).attr("data-toggle", "tooltip").attr("title", `Create corrigendum from Tender Id [${value.id}] and edit`);
                        },
                        headerTemplate: function (index, value) {
                            return "<span class='d-block d-sm-none'>CE</span><span class='d-none d-sm-block'>Corr Edit</span>";
                        }

                    },

                    {
                        type: "text",
                        width: "10",
                        align: "center",
                        itemTemplate: function (index, value) {
                            if (value.publishOrLive == undefined || value.publishOrLive == 0)
                                return $("<span>").text("P").attr("class", "font-weight-bold");
                            else
                                return $("<span>").text("L").attr("class", "font-weight-bold");
                        }
                    },
                    {
                        type: "Text",
                        width: "5",
                        align: "center",
                        itemTemplate: function (index, value) {
                            if (value.parentTenderId == undefined || value.parentTenderId == 0)
                                return "T";
                            else
                                return "C";
                        }
                    },
                    {
                        type: "control",
                        modeSwitchButton: false,
                        editButton: false,
                        width: 40,
                        align: "center",
                        itemTemplate: function (index, value) {
                            var $image = $("<div>");
                            $.each(value.tenderDocs, function (docindex, docVal) {
                                if (docVal.docName.length) {
                                    var faClass = getFileFaClass(docVal.docName);
                                    var url = '@Url.Content("~/Upload/nit/")' + `${docVal.docName}`;
                                    $image.append($("<a>").attr("class", `mr-1 ${faClass}`).attr("href", url).attr("target", "_blank").attr("data-toggle", "tooltip").attr("title", `[${docVal.docName}]`));
                                }
                            });
                            return $image;
                        },
                        headerTemplate: function (index, value) {
                            return "";
                        }

                    },
                    { name: "district", title: "District", visible: true, width: 100 },
                    {
                        name: "estimatedCost",
                        align: "right",
                        type: "ECFormat",
                        visible: true,
                        width: 100,
                        headerTemplate: function (index, value) {
                            var span1= $("<span>").text("Esti. Cost").attr("class", "font-weight-bold");
                            var span2 = $("<span>").text("(in Lakh)").attr("class", "font-weight-bold small");
                            return $("<div>").append(span1).append("</br>").append(span2);
                        }
                    },
                    {
                        name: "emd", type: "emdFormat",
                        align: "right",
                        visible: true,
                        width: 100,
                        headerTemplate: function (index, value) {
                            var span1 = $("<span>").text("EMD").attr("class", "font-weight-bold");
                            var span2 = $("<span>").text("(in Lakh)").attr("class", "font-weight-bold small");
                            return $("<div>").append(span1).append("</br>").append(span2);
                        }
                    },
                    { name: "costOfBOQ", type: "BOQFormat", align: "right", title: "BOQ", visible: true, width: 100},
                    { name: "bidSubmissionEnDate", type: "ClosingDate", title: "Closing Date", visible: true, width: 150},
                    { name: "tenderTitle", title: "Work Description", visible: true, width: 250, css:"show-eclipse" },
                ],
                rowClick: function (args) {
                    console.log('isAdmin', $('#hidIdAdmin').val());
                    if (!$('#hidIdAdmin').val()) {
                        var id = args.item.id;
                    @*var url = '@Url.Action("View", "Tenders")' + `/${id}`;
                    var win = window.open(url, "_self");*@
                        $('#SelTenderId').val(id);
                        rowHighlight(args.item)
                    }
                }
            });

            //$("#jsGrid").jsGrid("fieldOption", "publishOrLive", "visible", !$("#hidIdAdmin").val());
        }

        function rowHighlight(item) {
            if (selectedRow) { selectedRow.children('.jsgrid-cell').css('background-color', ''); }
            var $row = $("#jsGrid").jsGrid("rowByItem", item);
            $row.children('.jsgrid-cell').css('background-color', '#F7B64B');
            selectedRow = $row;
        }

        $('#btnDeleteTender').click(function () {
            if (!$('#hidIdAdmin').val()) {
                if ($('#SelTenderId').val() == "") {
                    alert("Please select a tender first to proceed.");
                    return false;
                }
                if (confirm(`Are you sure you want to Delete selected tender Id [${$('#SelTenderId').val()}]?`) == true) {
                    if (confirm("Are you sure again?") == true) {

                        $.ajax({
                            url: '@Url.Action("DeleteTender", "Tenders")',
                            dataType: "json",
                            data: { id: $('#SelTenderId').val() },
                            contentType: "application/json; charset=utf-8",
                        }).done(function (result) {
                            var filter = getFilterObj();
                            LoadTender(filter);
                        });
                    }
                }
            }
        });
    });
</script>
